#loginContainer{
    background-color: lightgray;
    margin: 20% 30%;
    padding: 2%;
    border-radius: 5px;
}
#logoDiv{
    padding-bottom: 2%;
    text-align: center;
}
body{
    background-color: rgb(4, 143, 210);
}