<div class="container" style="width:100%;padding-top:15px;">
    <div class="panel-group">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#createUserCollapse">User Registration</a>
            </h4>
        </div>
        <div id="createUserCollapse" class="panel-collapse collapse">
            <div class="panel-body">

                    <form class="well form-horizontal" (ngSubmit)="createUser()" data-toggle="validator" role="form" method="post"  id="contact_form" novalidate>
                        <fieldset>
                        <legend>User Registration</legend>

                        <div class="form-group">
                            <label class="col-md-3 control-label">First Name</label>  
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input required name="firstName" [(ngModel)]="model.firstName" placeholder="First Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" >Last Name</label> 
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input required name="lastName" [(ngModel)]="model.lastName" placeholder="Last Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">User Name</label>  
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input required name="userName" [(ngModel)]="model.userName" placeholder="User Name" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                            
                        <div class="form-group">
                        <label class="col-md-3 control-label">Password</label>  
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="password" [(ngModel)]="model.password" placeholder="Password" class="form-control" type="password">
                                </div>
                        </div>
                        </div>
                            
                        <div class="form-group">
                        <label class="col-md-3 control-label">Confirm Password</label>  
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input name="confirmPassword" [(ngModel)]="model.confirmPassword" placeholder="Confirm Password" class="form-control" type="password">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="col-md-3 control-label">Role</label>  
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input name="role" [(ngModel)]="model.role" placeholder="city" class="form-control"  type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-info">Create User <span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>

                        </fieldset>
                        </form>
                        
                
               </div>
            </div>
        </div>
    </div>


    <div class="panel-group">
        <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" (click) = "viewUsers()" href="#userDetailsCollapse">User Details</a>
            </h4>
        </div>
        <div id="userDetailsCollapse" class="panel-collapse collapse">
            <div class="panel-body">

                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>User Name</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>User Name</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{user.firstname+' '+user.lastname}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.role}}</td>
                            <td *ngIf="user.isactive==1">Active</td>
                            <td *ngIf="user.isactive!=1">InActive</td>
                            <td><input type="button" value="De-activate" *ngIf="user.isactive==1" /> </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    </div>
</div>

